@media (max-width: 575px) {
	body {
		font-size: 14px;
	}
	.h1 {
		font-size: 20px;
		line-height: 27px;
	}
	.h2 {
		font-size: 25px;
		line-height: 35px;
	}
	.h3 {
		font-size: 20px;
		line-height: 27px;
	}
	.mb-40, .mb-50 {
		margin-bottom: 28px;
	}
	header {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.breadcrumbs {
		padding-top: 15px;
		padding-bottom: 40px;
	}
	.menubtn__icon {
		margin-right: 0;
		margin-left: auto;
	}
	#logo a img {
		width: 100%;
	}
	.menubtn__text {
		display: none;
	}
	.offcanvas-start {
		top: 64px;
	}
	.section-px80 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.slide__description {
		bottom: 120px;
	}
	.swiper-control {
		bottom: 60px;
		padding-right: var(--bs-gutter-x, 0.75rem);
		padding-left: var(--bs-gutter-x, 0.75rem);
	}
	.swiperhome__arrow {
		width: 35px;
		height: 35px;
		background-size: 8px;
	}
	.swiperhome__arrows{
		position: absolute;
		top: -6px;
		width: 100%;
		display: flex;
	}
	.swiperhome__arrows .arrow_next {
		margin-left: auto;
	}
	.swiperhome__arrows .arrow_prev {
		margin-left: 0;
		margin-right: 0;
	}
	.swiperhome__pagination {
		padding-left: 55px;
		padding-right: 55px;
		margin-bottom: 0;
		display: inline-flex;
	}
	.section-px {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	
	.fullscreen_row {
		flex-flow: column;
	}
	.fullscreen__inner {
		padding-left: 15px;
		padding-right: 15px;
	}
	.blog-swiper__wrap {
		min-height: auto;
	}
	.blog-slide.swiper-slide-active {
		width: 100% !important;
	}
	.grid-press__item {
		flex: 1 1 calc(50% - 10px);
	}
	.hero__gallery {
		margin-bottom: 25px;
	}
	.offcanvas-start {
		width: 100%;
	}
	.submenu__content.show {
		left: 0;
	}
	.hero__btngroup > .btn:first-child {
		min-width: auto;
		flex-grow: 1;
	}
	.labels-list {
		flex-flow: wrap;
	}
	.labels__item {
		font-size: 14px;
	}
}