@font-face  {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf');
	font-weight: 400;
}
@font-face  {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.ttf');
	font-weight: 500;
}
@font-face  {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.ttf');
	font-weight: 700;
}
@font-face  {
	font-family: 'Wadik';
	src: url('../fonts/Wadik.otf');
}

:root {
	--black: #000;
	--white: #fff;
	--lightgrey: #F9F9F9;
	--accent: #41932C;
	--accent-add: #5CD13F;
	--grey-bg: #F1F1F1;
	--grey-text: #777777;
	--border-color: #E7E7E7; 
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--black);
	background-color: var(--lightgrey);
}

.bg-grey {
	background-color: var(--grey-bg);
}

button:focus {
	outline: none !important;
	box-shadow: none !important;
}
a {
	transition: 0.3s;
}
a:hover {
	color: var(--accent);
}
a:focus {
	outline: none;
	box-shadow: none;
}
::selection {
	background: var(--accent);
	color: var(--lightgrey);
}
::-moz-selection {
	background: var(--accent);
	color: var(--lightgrey);
}
.text-normal {
	
}
.text-medium {
	font-weight: 500;
}

.text-p3 {
	font-size: 14px;
	line-height: 22px;
}
.text-p3m {
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
}

.fw700 {
	font-weight: 700;
}

.h1 {
	font-family: 'Wadik';
	font-size: 38px;
	line-height: 48px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 0;
}
.h2 {
	font-family: 'Wadik';
	font-size: 28px;
	line-height: 38px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 0;
}
.h3 {
	font-family: 'Wadik';
	font-size: 28px;
	line-height: 38px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 0;
}
.h4 {
	font-size: 18px;
	line-height: 25px;
	font-weight: 700;
	letter-spacing: 0.02em;
}

.text-upper {
	text-transform: uppercase;
}

.mb-0 {
	margin-bottom: 0;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-15 {
	margin-bottom: 15px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-25 {
	margin-bottom: 25px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-35 {
	margin-bottom: 35px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-45 {
	margin-bottom: 45px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mb-80 {
	margin-bottom: 80px;
}

.pt-10 {
	padding-top: 10px;
}
.pt-20 {
	padding-top: 20px;
}
.p40 {
	padding: 40px;
}
.pb120 {
	padding-bottom: 120px;
}
.wrapper_container {
	max-width: 800px;
	margin: 0 auto;
}
.section-px {
	padding-top: 120px;
	padding-bottom: 120px;
}
.section-px80 {
	padding-top: 80px;
	padding-bottom: 80px;
}

.btn {
	border: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	min-width: 240px;
	padding-left: 20px;
	padding-right: 20px;
	transition: 0.3s;
	font-size: 13px;
	line-height: 22px;
	font-weight: 700;
	letter-spacing: 0.02em;
	height: 62px;
}
.btn:focus {
	box-shadow: none;
}

.btn-primary {
	background-color: var(--accent);
	color: var(--lightgrey);
}
.btn-primary:hover {
	background-color: var(--black);
}
.btn-white {
	border: 2px solid var(--border-color);
	background-color: var(--lightgrey);
}
.btn-white:hover, .btn-white:focus {
	box-shadow: none;
	background-color: var(--accent);
	color: var(--lightgrey);
	border-color: var(--accent);
}
.btn-sm-grey {
	display: inline-flex;
	background-color: var(--grey-bg);
	width: 62px;
	height: 62px;
	min-width: auto;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--border-color);
	transition: 0.3s;
	background-repeat: no-repeat;
	background-position: center;
}
.btn-sm-grey:hover {
	background-color: var(--accent);
	border-color: var(--accent);
}
.btn-whatsapp {
	min-width: 62px;
	height: 62px;
	border: 2px solid var(--border-color);
	background-color: var(--lightgrey);
	background-image: url('../../image/wa-black.svg');
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}
.btn-whatsapp:hover {
	background-color: var(--accent);
	border-color: var(--accent);
	background-image: url('../../image/wa-white.svg');
}
.btn-instagram {
	min-width: 62px;
	height: 62px;
	border: 2px solid var(--border-color);
	background-color: var(--lightgrey);
	background-image: url('../../image/insta-black.svg');
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}
.btn-instagram:hover {
	background-color: var(--accent);
	border-color: var(--accent);
	background-image: url('../../image/insta-white.svg');
}


/**/
header {
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
	z-index: 1060;
	background-color: var(--lightgrey);
}
#logo {
	display: flex;
	align-items: center;
	justify-content: center;
}
#menuBtn {
	color: var(--black);
	text-decoration: none;
}
.offcanvas-start {
	top: 94px;
	background-color: var(--lightgrey);
	width: 36%;
}

.menubtn__icon {
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	height: 13px;
	justify-content: space-between;
	margin-right: 12px;
}
.menubtn__icon > .line {
	height: 2px;
	width: 26px;
	background-color: var(--accent);
	transition: 0.3s;
}
.menubtn__icon > .line:nth-child(2) {
	width: 24px;
}
.menubtn__icon > .line:nth-child(3) {
	width: 22px;
} 

#menuBtn:hover .menubtn__icon > .line {
	width: 26px;
	background-color: var(--black);
}
.menubtn__icon.typeclose > .line:nth-child(2) {
	opacity: 0;
}
.menubtn__icon.typeclose > .line {
	width: 15px;
	background: var(--black);
}
.menubtn__icon.typeclose > .line:nth-child(1){
	transform: rotate(45deg);
	margin-bottom: 0;
	transform-origin: 0% 1px;
}
.menubtn__icon.typeclose > .line:nth-child(3){
	transform: rotate(-45deg);
	margin-bottom: 0;
	transform-origin: 0% 1px;
}

.icon-lk {
	display: flex;
	cursor: pointer;
}
.icon-lk svg {
	fill: var(--black);
	stroke: var(--accent);
}
.icon-lk:hover svg {
	fill: var(--accent);
	stroke: var(--accent);
}

/* Menu  Offcanvas */
.offcanvas-body {
	padding: 0;
	padding-left: 36px;
	padding-right: 36px;
}
.menu__list {
	padding-top: 60px;
	padding-left: 0;
}
.menu__item {
	list-style: none;
	margin-bottom: 40px;
}
.menu__item:last-child {
	margin-bottom: 0;
}
.menu__link {
	display: flex;
	color: var(--black);
	text-decoration: none;
	transition: 0.3s;
	background-image: url('../../image/arrow-menu.svg');
	background-repeat: no-repeat;
	background-position: right center;
}
.menu__link:hover {
	color: var(--accent);
	background-image: url('../../image/arrow-menu-accent.svg');
}
.menu__title {
	font-weight: 700;
	font-size: 22px;
	line-height: 32px;
	font-family: 'Wadik';
}
.submenu__content {
	opacity: 0;
	position: absolute;
	left: 100%;
	background-color: var(--grey-bg);
	height: 100%;
	padding-top: 60px;
	padding-left: 36px;
	padding-right: 36px;
	transition: 0.5s;
	min-width: 100%;
}
.submenu__content.show {
	opacity: 1;
}
.submenu__item {
	opacity: 0;
	position: absolute;
	transition: 0.6s;
}
.submenu__item.visible {
	opacity: 1;
	
}
.submenu__list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.submenu__list > li:not(:last-child) {
	margin-bottom: 30px;
}
.submenu__list > li > a {
	display: flex;
	text-wrap: nowrap;
	color: var(--black);
	text-decoration: none;
}
.submenu__list > li:hover > a {
	color: var(--accent);
}
/* Footer */
footer {
	padding: 30px 0px;
	background-color: var(--black);
}

/*homepage*/
.homeslider {
	overflow: hidden;
	position: relative;
}
.swiperhome {
	
}
.swiper-slide {
	position: relative;
}
.slide__description {
	position: absolute;
	width: 100%;
	bottom: 150px;
}
.swiper-slide img{
	width: 100%;
}
.swiper-control {
	position: absolute;
	width: 100%;
	z-index: 1010;
	bottom: 150px;
}

.swiperhome__arrow {
	border: none;
	width: 53px;
	height: 53px;
	border-radius: 100%;
	background-color: var(--accent);
	background-image: url('../../image/arrow.svg');
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}
.swiperhome__arrow.arrow_prev {
	transform: rotate(-180deg);
	margin-right: 10px;
}
.swiperhome__arrow.arrow_next {
	margin-left: 10px;
}
.swiperhome__arrow:hover {
	background-color: var(--black);
}
.swiperhome__paginationinner {
	display: flex;
	align-items: center;
}
.pagination__bullet {
	width: 5px;
	height: 5px;
	display: inline-flex;
	margin: 0px 5px;
	background-color: var(--grey-bg);
	opacity: 0.5;
	border-radius: 100%;
}
.pagination__bullet.active {
	width: 8px;
	height: 8px;
	opacity: 1;
}
.pagination__number {
	font-size: 18px;
	line-height: 25px;
	font-weight: 700;
	color: var(--grey-bg);
}
.pagination__number.current__number {
	margin-right: 15px;
}
.pagination__number.total__number {
	margin-left: 15px;
}


.text-primer {
	
}


.fullscreen_row {
	display: flex;
}
.fullscreen__item {
	position: relative;
	flex: 1 1 auto;
	
}
.fullscreen__inner {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
	padding-left: 150px;
	padding-right: 150px;
	width: 100%;
}
.fullscreen__item:after {
	content: '';
	position: absolute;
	height: 50%;
	width: 100%;
	left: 0;
	bottom: 0;
	background:linear-gradient(rgba(0,0,0,0), var(--black));
	opacity: 0.3;
	z-index: 1;
}
.fullscreen__itembg > *{
	width: 100%;
}
.fullscreen__column {
	color: var(--lightgrey);
	padding: 0;
	margin: 0;
}
.fullscreen__column li {
	margin-bottom: 15px;
}
.fullscreen__column li > a{
	color: var(--lightgrey);
	text-decoration: none;
}
.columntwo {
	column-count: 2;
}


.social__icon {
	display: flex;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
}
.tg-icon {
	background-image: url('../../image/tg-black.svg');
}
.tg-icon:hover {
	background-image: url('../../image/tg-green.svg');
}
.vk-icon {
	background-image: url('../../image/vk-black.svg');
}
.vk-icon:hover {
	background-image: url('../../image/vk-green.svg');
}
.yt-icon {
	background-image: url('../../image/yt-black.svg');
}
.yt-icon:hover {
	background-image: url('../../image/yt-green.svg');
}
.awards-swiper__wrap {
	overflow: hidden;
}
.award-slide {
	width: 100%;
}
.grid-press {
	display: flex;
	gap: 10px;
	flex-flow: row wrap;
	justify-content: flex-end;
}
.grid-press__item > img {
	width: 100%;
}

.breadcrumbs {
	padding-top: 30px;
	padding-bottom: 65px;
}
.breadcrumb {
	margin-bottom: 0;
}
.breadcrumb > li + li:before {
	content: '/';
	margin-right: 10px;
	margin-left: 10px;
	color: var(--grey-text);
	position: relative;
}
.breadcrumb > li > a {
	color: var(--grey-text);
	text-decoration: none;
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
}
.breadcrumb > li > a:hover {
	color: var(--accent);
}
.breadcrumb > li:last-child > a, .breadcrumb > li:hover:last-child > a {
	cursor: default;
	color: var(--black);
}

/*Blog Item*/
.blog-item__inner {
	text-decoration: none;
	color: var(--black);
}
.blog-item__inner .thumb{
	position: relative;
}
.blog-item__inner .thumb img {
	width: 100%;
}
.blog-item__inner .thumb .sticker {
	position: absolute;
	padding: 8px 0;
	min-width: 165px;
	z-index: 1;
	left: 0px;
	top: 40px;
	text-align: center;
	font-weight: 700;
	color: var(--grey-bg);
	font-size: 13px;
	line-height: 22px;
	letter-spacing: 0.02;
	text-transform: uppercase;
}
.blog-item__inner .caption {
	display: flex;
	flex-flow: column;
	gap: 8px;
}
.blog-item__inner .caption .date {
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	color: var(--grey-text);	
}
/*Blog Item End*/
.blog-swiper__wrap {
	min-height: 520px;
}
.blog-slide {
	opacity: 0.3;
	transition: 0.3s;
}
.blog-slide.swiper-slide-active {
	width: 50% !important;
	opacity: 1;
}
.blog-slide.swiper-slide-next {
	opacity: 1;
}


/*Product Card*/
.product-card__inner .thumb img{
	width: 100%;
	margin-bottom: -1px;
}
.product-card__inner .caption {
	border: 1px solid var(--border-color);
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	gap: 20px;
	padding: 35px 25px;
}
.product-card__inner .caption .titeling .address {
	/* display: flex; */
	padding-left: 15px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	color: var(--accent);
	margin-bottom: 12px;
	background-image: url('../../image/address-icon.svg');
	background-repeat: no-repeat;
	background-position: left center;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.product-card__inner .caption .titeling .title {
	text-transform: uppercase;
	text-decoration: none;
	color: var(--black);
	margin-bottom: 12px;
	display: flex;
	height: 50px;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.product-card__inner .caption .titeling .location {
	display: flex;
	padding-left: 15px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	color: var(--grey-text);
	background-image: url('../../image/chel.svg');
	background-repeat: no-repeat;
	background-position: left center;
}
.product-card__inner .caption .attribute > ul {
	display: flex;
	flex-flow: row;
	padding: 0;
	margin: 0;
	font-size: 12px;
	list-style: none;
}
.product-card__inner .caption .attribute > ul > li {
	padding: 0px 12px;
	position: relative;
}
.product-card__inner .caption .attribute > ul > li:before {
	content: '';
	position: absolute;
	top: 50%;
	left:0px;
	transform: translateY(-50%);
	width: 3px;
	height: 3px;
	border-radius: 100%;
	background-color: #000;
}
/*Product Card End*/
.product-slide {
	opacity: 0.3;
	transition: 0.3s;
}
.product-slide.swiper-slide-prev, .product-slide.swiper-slide-active, .product-slide.swiper-slide-next {
	opacity: 1;
}


/* Filter block */
.bg-image {
	position: relative;
	background-image: url('https://dummyimage.com/1462x453/000/0f0');
	background-position: center;
	background-size: cover;
}
.bg-image:after {
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: var(--black);
	opacity: 0.3;
	position: absolute;
}
.bg-image > .container {
	z-index: 2;
}
.line-mainfilter {
	background-color: var(--grey-bg);
	min-height: 71px;
	width: 100%;
	display: flex;
}

.selector{
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.selector__link{
	display: flex;
	align-items: center;
	height: 71px;
	border: 1px solid var(--border-color);
	padding: 0px 23px;
}
.selector__list{
	opacity: 0;
	position: absolute;
	display: flex;
	width: 100%;
	background-color: var(--grey-bg);
	padding: 20px 15px;
	transition: 0.3s;
	transform: translateY(-10px);
}
.selector.show {
	overflow: visible;
}
.selector.show .selector__list {
	opacity: 1;
	transform: translateY(0px);
}



/*Product Page*/
.hero__mainner {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.hero__h1 {
	font-size: 33px;
	line-height: 48px;
}
.hero__gallery {
	display: flex;
	flex-flow: row wrap;
	gap: 20px;
}
.hero__gallery.sticky-box {
	position: sticky;
	top: 20px;
}
.hero__description > .description__inner {
	height: auto;
	max-height: 150px;
	overflow: hidden;
	transition: 0.3s;
}
.hero__description > .description__inner.show {
	transition: 0.3s;
	max-height: 1000px;
}
.hero__gallery .main-photo {
	flex: 1 1 100%;
}
.hero__gallery .preview-photo {
	flex: 1 1 calc(33% - 20px);
}
.hero__gallery > a > img {
	width: 100%;
}
.hero__resident {
	display: flex;
	flex-flow: column;
	gap: 10px;
}
.addit__text {
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
	color: var(--grey-text);
}
.link__resident {
	cursor: pointer;
	color: var(--accent);
}
.link__resident:hover {
	text-decoration: none;
}

.hero__price > span {
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 2%;
	font-size: 31px;
}

.attribute_less__item {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 15px;
}
.attribute_less__item:last-child {
	margin-bottom: 0;
}
.attribute_less__item > .title, .attribute_less__item > .name {
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
	color: var(--grey-text);
	order: 1;
}
.attribute_less__item > .name { 
	color: var(--black);
	order: 3;
}
.attribute_less__item:before {
	order: 2;
	content: '';
	position: relative;
	border-bottom: 1px dotted var(--border-color);
	flex: 1 1 auto;
	height: 16px;
	margin: 0px 8px;
}
.hero__btngroup {
	display: flex;
	gap: 13px;
}
.btn-wishlist {
	display: flex;
	width: 16px;
	height: 100%;
	background-image: url('../../image/heart.svg');
	background-repeat: no-repeat;
}
.btn-sm-grey:hover .btn-wishlist {
	background-image: url('../../image/heart-white.svg');
}
.btn-social {
	display: flex;
	width: 16px;
	height: 100%;
	background-image: url('../../image/share.svg');
	background-repeat: no-repeat;	
}
.btn-sm-grey:hover .btn-social {
	background-image: url('../../image/share-white.svg');
}

.sticky-box {
	position: sticky;
	top: 10px;
}
.description__inner {
	max-height: 150px;
	overflow: hidden;
	transition: 0.3s ease-in-out;
}
.description__inner.show {
	max-height: 5000px;
}

.labels__item {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 30px;
	border: 2px solid var(--border-color);
	text-decoration: none;
	font-weight: 500;
	color: var(--black);
	transition: 0.3s;
	white-space: nowrap;
}
.labels__item.active, .labels__item:hover {
	background: var(--border-color);
	color: var(--black);
}

/* FORMs */
.form__inner {
	display: flex;
	flex-flow: column;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 60px;
}
.formbox__caption {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
}
.form__group:not(:last-child) {
	margin-bottom: 20px;
}
.form__label {
	
}
.form__input {
	display: flex;
	height: 46px;
	width: 100%;
	padding-left: 30px;
	background: var(--white);
	border: 1px solid var(--border-color);	
}
.form__input::placeholder {
	color: var(--grey-text);
}
.form__input:focus {
	outline: none;
	border: 1px solid var(--accent);
}
.form__group .btn-primary {
	height: 46px;
	width: 100%;
}
/* End Forms*/

.catdescription__inner {
	height: auto;
	max-height: 310px;
	overflow: hidden;
	position: relative;
	transition: max-height 0.3s;
}
.catdescription__inner:after {
	content:'';
	position: absolute;
	width: 100%;
	height: 135px;
	bottom: 0px;
	background: linear-gradient(rgba(255, 255, 255, 0), #F9F9F9);
}
.catdescription__inner.show{
	max-height: 5000px;
}
.catdescription__inner.show:after {
	display: none;
}
.hero__map {
	min-height: 363px;
}

.gallery__nav {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}
.gallery__nav .prev, .gallery__nav .next {
	position: absolute;
	width: 10%;
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	right: 0px;
	left: auto;
	z-index: 1060;
	opacity: 0;
	transition: 0.3s;
	background-image: url('../../image/arrow.svg');
	background-repeat: no-repeat;
	background-position: center;
}
.gallery__nav .prev {
	right: auto;
	left: 0px;
	transform: rotate(-180deg);
}
.gallery__nav .prev:hover, .gallery__nav .next:hover {
	opacity: 1;
}

.gallery_withbar {
	padding-bottom: 10px;
}

.gallery__bar {
	height: 5px;
	background: var(--lightgrey);
}
.gallery__bar > * {
	background-color: var(--accent);
}

.agent__item {
	display: flex;
	margin-bottom: 20px;
	background: var(--grey-bg);
}
.agent__item:last-child {
	margin-bottom: 0;
}
.agent__item > img{
	width: 150px;
	height: 150px;
}

.contact-line {
	gap: 6px;
}